<!--Number1-->
<section class="base-conteudo">
    <div class="esp">
        <div class="img" id="logo1"></div>
        <h2>{{name1}}</h2>
        <h1>@usuario</h1>
        <h1>4hrs</h1>
    </div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias mollitia numquam, quisquam eaque itaque labore nam tempore perspiciatis architecto!</p>
    <section class="conteudo"  id="img1" (click)="mostrar_imagem()">
    </section>
    <div class="base_m">
        <div class="icon-part">
            <button class="material-symbols-outlined" (click)="mostrar_comentario()">
                chat
            </button>
            <h3 *ngIf="valorcomentario1">000</h3>
            <h3 *ngIf="valorcomentario1_s" class="h3_apertado">001</h3>
        </div>
        <div class="icon-part">
            <button class="material-symbols-outlined" (click)="mostrar_share()">
                share
            </button>
            <h3 *ngIf="valorshare1">000</h3>
            <h3 *ngIf="valorshare1_s" class="h3_apertado">001</h3>
        </div>
        <div class="icon-part">
            <button class="material-symbols-outlined" (click)="curtir()">
                thumb_up
            </button>
            <h3 *ngIf="valorcurtir1">000</h3>
            <h3 *ngIf="valorcurtir1_s" class="h3_apertado">001</h3>
        </div>
        <div class="icon-part">
            <button class="material-symbols-outlined">
                visibility
            </button>
            <h3 *ngIf="valorview1">000</h3>
            <h3 *ngIf="valorview1_s">001</h3>
        </div>
        
    </div>
    <div class="comentario" *ngIf="comentario_atv">
        <div class="base-comentar">
            <img src="../../../assets/image/person_01.jpg" alt="" class="img-comentar">
            <input type="text" name="" id="" placeholder="insira o comentário">
            <button class="btn-comentar" (click)="add_comentario()">comentar</button>
            <button class="rtr-comentar" (click)="rtr_comentario()" *ngIf="botao_retirar">apagar</button>
        <div class="resposta" *ngIf="resposta">
            <img src="../../../assets/image/person_01.jpg" alt="" class="img-comentar">
            <h3 class="nome-separado">{{name1}}</h3>
            <p>Comentario adicionado....</p>
        </div>
        </div>
    </div>
    <div class="share" *ngIf="base_share">
        <h1 class="titulo_share">Compartilhar</h1>
        <button class="btn_share" (click)="mostrar_share()">X</button>
        <img src="../../../assets/image/logo_facebook.png" alt="" class="img_share">
        <img src="../../../assets/image/logo_instagram.png" alt="" class="img_share">
        <img src="../../../assets/image/logo_twitter.png" alt="" class="img_share">
        <img src="../../../assets/image/logo_what.png" alt="" class="img_share">
        <button class="compartilhar" (click)="compartilhado()">enviar</button>
    </div>

    <div class="base_visualizaçao" *ngIf="visualizacao">
<img src="../../../assets/image/img1-p.jpg" alt="" (click)="mostrar_imagem()">
    </div>
</section>

