<section class="base-front">
<img src="../../../assets/image/person_02.jpg" alt="" class="img-central">
<div>
    <h1>Usuário01</h1>
    <h2>@usuario01</h2>
    <span class="material-symbols-outlined">
        calendar_month
        </span>
    <h3>Entrou em março de 2023</h3>
   
    <div class="ss"> 
    <p>1.000</p>
    <h4>Seguidores</h4>
</div>
    
    <div class="ss"> 
        <p>58</p>
        <h4>Seguindo</h4>
    </div>
   
</div>
<div class="sugestoes">
<h1 class="titulo">Sugestões</h1>
<div class="scroll">
<div class="exb-base">
    <img src="../../../assets/image/img01.jpg" alt="" class="exb-img">
    <p class="exb-text">Sarah</p>
    <button class="exb-button" *ngIf="btn_user1" (click)="seguir1()">Seguir</button>
    <button class="exb-button2" *ngIf="btn_user2" (click)="seguir1()">Seguindo</button>
</div>
<div class="exb-base">
    <img src="../../../assets/image/img02.jpg" alt="" class="exb-img">
    <p class="exb-text">Daniel</p>
    <button class="exb-button" *ngIf="btn_user3" (click)="seguir2()">Seguir</button>
    <button class="exb-button2" *ngIf="btn_user4" (click)="seguir2()">Seguindo</button>
</div>

<div class="exb-base">
    <img src="../../../assets/image/img04.jpg" alt="" class="exb-img">
    <p class="exb-text">Thales</p>
    <button class="exb-button" *ngIf="btn_user5" (click)="seguir3()">Seguir</button>
    <button class="exb-button2" *ngIf="btn_user6" (click)="seguir3()">Seguindo</button>
</div>
<div class="exb-base">
    <img src="../../../assets/image/img05.jpg" alt="" class="exb-img">
    <p class="exb-text">Amanda</p>
    <button class="exb-button" *ngIf="btn_user7" (click)="seguir4()">Seguir</button>
    <button class="exb-button2" *ngIf="btn_user8" (click)="seguir4()">Seguindo</button>
</div>



</div>
</div>
</section>
 