<router-outlet></router-outlet>
<section class="base-lado">
  <nav>
     <a routerLink=""><span class="material-symbols-outlined">
     home
      </span>
        <button *ngIf="primeiro" (click)="corFuncao1()">Home</button>
        <button *ngIf="segundo" class="apertado">Home</button>
      </a><br> 
      <a routerLink="perfil">
      <span class="material-symbols-outlined">
       person
        </span>
        <button *ngIf="terceiro" (click)="corFuncao2()">Perfil</button>
        <button *ngIf="quarto" class="apertado">Perfil</button>
        </a><br>
        <a routerLink="notif">
        <span class="material-symbols-outlined">
          notifications
          </span>   
          <button *ngIf="quinto" (click)="corFuncao3()">Notificações</button>
        <button *ngIf="sexto" class="apertado">Notificações</button>
          </a><br>
   
  </nav>
</section>