<section class="base-front">
<h1>Notificações</h1>
<hr>
<div class="ntf">
    <span class="material-symbols-outlined">
        chat
        </span>
        <p>Você recebeu uma notificação...
        </p>
</div>
<div class="ntf">
    <span class="material-symbols-outlined">
        chat
        </span>
        <p>Você recebeu uma notificação...
        </p>
</div>
<div class="ntf">
    <span class="material-symbols-outlined">
        chat
        </span>
        <p>Você recebeu uma notificação...
        </p>
</div>
<div class="ntf">
    <span class="material-symbols-outlined">
        chat
        </span>
        <p>Você recebeu uma notificação...
        </p>
</div>
<div class="ntf">
    <span class="material-symbols-outlined">
        chat
        </span>
        <p>Você recebeu uma notificação...
        </p>
</div>
  </section>
